---
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
import Heroadmin from "../components/heroadmin.astro";
import Sejarah from "../components/sejarah.astro";
import Visimisi from "../components/visimisi.astro";
import Pengelola from "../components/pengelola.astro";
import Peneliti from "../components/peneliti.astro";
import Roadmap from "../components/roadmap.astro";

// Get cookies to determine user session
const cookies = Astro.cookies;
const user_id = cookies.get("user_id");
const role_id = cookies.get("role_id");
const username = cookies.get("username") || "Guest";

// Redirect if the user is not an admin (or not logged in)
if (role_id !== "1") {
  // Redirect to the login page or home page if not an admin
  Astro.redirect("/login"); // Update this if you have a specific page
}

export const prerender = false; // Disable prerendering for this page
---

<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IsFor Pusat Riset Informatika</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-white">
    <Navbar />

    <div id="homeadmin">
      <Heroadmin />
    </div>
    <div id="sejarah">
      <Sejarah />
    </div>
    <div id="visi-misi">
      <Visimisi />
    </div>
    <div id="roadmap">
      <Roadmap />
    </div>
    <div id="pengelola">
      <Pengelola />
    </div>
    <div id="list-peneliti">
      <Peneliti />
    </div>
    <Footer />
  </body>
</html>
