body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
.sejarah {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    background-color: #f4f4f9;
}

.container {
    width: 90vw; 
    max-width: 1200px; 
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    transform: scale(0.95);
    animation: fadeInUp 1.5s ease-in-out forwards;
}

.title {
    font-size: 36px;
    color: #003082; 
    font-weight: 700;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
