
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #2c2c2c;
    line-height: 1.6;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

.utama {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 50px 60px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.deskripsi {
    max-width: 60%;
    padding-right: 40px;
    text-align: left;
}

.deskripsi h1 {
    font-size: 60px;
    font-weight: 700;
    color: #2D2766;
    margin-bottom: 15px;
}

.deskripsi p {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    color: #2c2c2c;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.btn-primary, .btn-secondary {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #0033a0;
    color: white;
}

.btn-secondary {
    background-color: #0033a0;
    border: 2px solid #0033a0;
    color: white;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #0056d2;
}

.leader {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.leader img {
    width: 40px;
    height: 40px;
    background-color: #0033a0;
    border-radius: 50%;
}

.leader p {
    margin: 20px;
    font-size: 20px;
    line-height: 1.5;
}

.leader span {
    display: block;
    font-size: 15px;
    color: #777;
}

.image-utama {
    max-width: 40%;
    display: flex;
    justify-content: end;
    aspect-ratio: 4 / 3;
}

.image-utama img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: #2c2c2c 0px 0px 2px;
}

.image-utama img:hover {
    transform: scale(1.05);
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .utama {
        flex-direction: column;
        text-align: center;
        padding: 100px 20px 60px;
    }

    .deskripsi, .image-utama {
        max-width: 100%;
        padding-right: 0;
    }

    .deskripsi {
        margin-bottom: 20px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }
}
